* {margin: 0px; padding:0px;
background-color: black;
}
#div1 {display: block; border: 1px solide black;}
h6 {color: darkorchid;}
#div2 {width: 20rem; position: absolute; top: 1rem; left: 23rem;
color: darkviolet;font-size: 1.7rem;

font-family: 'Lobster', cursive;

}
.link1 {font-size: 1rem; color: seagreen;
text-decoration: none; position: relative; top: 3rem;
font-family: 'Gemunu Libre', sans-serif;
}
a:hover {font-size:1.1rem;
color: darkslategrey;}
#head1 {color: blue;}

